$theme-color: #3D5B38;

body {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
}
.content-container {
}
.sidebar {
    min-height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0;
    border-right: 3px solid black;
    background-color: $theme-color;
    padding-top: 30px;
    @media screen and (max-width: 480px) {
        min-width: 100vw;
        min-height: auto;
    }
}
.profilepic {
    width: 80px; 
    border-radius: 50%;
    display: block;
    margin-bottom: 0;
}
.sidebar-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    & h1 { margin-bottom: 0; margin-top: 5px; }
    & h3 { margin-top: 5px; }
    background-color: white;
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: $theme-color;
}
.sidebar-nav-link {
    display: block;
    color: white;
    background-color: $theme-color;
    padding: 10px 15px;
    font-size: 1.2rem;
    &:hover {
        background-color: lighten($theme-color, 20%);
    }
    &.current {
        background-color: lighten($theme-color, 20%);
    }
    border-top: 3px solid black;
    @media screen and (max-width: 480px) {
        text-align: center;
    }
}
.main-container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 30px;
    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
}
