$theme-color: #3D5B38;
$darkest-gray: #222222; // headings
$dark-gray: #333333; // body + borders
$border-width: 2px;
$sm: 40rem;
$md: 48rem;
$lg: 64rem;
$xl: 80rem;

body {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
    color: $dark-gray;
}
h1, h2, h3, h4, h5, h6 {
    color: $darkest-gray;
    margin-bottom: 20px;
}
p, ul, hr {
    margin-bottom: 20px;
}
a {
    color: $theme-color;
    &:hover { color: lighten($theme-color, 15%); }
}
.content-container-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    @media screen and (min-width: $md) {
        padding: 25px 0px;
        margin-left: 200px;
    }
    @media screen and (min-width: $lg) {
		padding: 40px 0px;
        margin-left: 300px;
    }
}
.content-container {
    width: 100%;
    padding: 20px 30px;
    box-shadow: 0px 0px 25px -3px rgba(51,51,51,0.3);
    @media screen and (min-width: $md) {
        width: 90%;
        padding: 20px 30px;
    }
    @media screen and (min-width: $xl) {
        width: 80%;
        padding: 40px 75px;
    }
}
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: $theme-color;
    & a { text-decoration: none; }
    width: 100vw;
    border-right: none;
    border-bottom: $border-width solid $dark-gray;
    @media screen and (min-width: $md) {
        position: fixed;
        height: 100vh;
        width: 200px;
        min-width: 200px;
        border-right: $border-width solid $dark-gray;
    }
    @media screen and (min-width: $lg) {
        width: 300px;
        min-width: 300px;
    }
}
.profilepic {
    width: 80px; 
    display: block;
}
.sidebar-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    font-size: 0.8rem;
    & h1, & h3 { margin-bottom: 0; margin-top: 5px; }
	@media screen and (min-width: $md) {
		padding-top: 25px;
    	padding-bottom: 25px;
	}
    @media screen and (min-width: $lg) {
        font-size: 1rem;
    }
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: $theme-color;
    text-align: center;
    @media screen and (min-width: $md) {
        text-align: left;
    }
}
.sidebar-nav-link {
    display: block;
    color: white;
    background-color: $theme-color;
    padding: 5px 15px;
    font-size: 1.2rem;
	border-top: $border-width solid $dark-gray;
    &:last-of-type {
        border-bottom: $border-width solid $dark-gray;
    }
	&:hover {
        background-color: lighten($theme-color, 15%);
        color: white;
    }
    &.current {
        background-color: lighten($theme-color, 15%);
        &:hover {
            background-color: lighten($theme-color, 20%);
        }
    }
	@media screen and (min-width: $md) {
        padding: 10px 15px;
    }
}
.footer {
	color: white;
    margin-right: 15px;
    margin-left: 15px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 5px;
	@media screen and (min-width: $md) {
		padding-top: 15px;
	}
}
img[src$="#cwd-img"] {
    box-shadow: 0px 0px 15px -3px rgba(51,51,51,0.2);
    margin-bottom: 30px;
}
/* Masonry layout from https://codepen.io/CyFox/pen/MWWEwjg :) */
.masonry {
	column-count: 1;
	column-gap: 10px;
	@media (min-width: $lg) {
    	column-count: 2;
  	}
	& img {
  		width: 100%;
	}
	& .mItem {
 		display: inline-block;
 		margin-bottom: 10px;
  		width: 100%;
	}
}
