$theme-color: #3D5B38;

body {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
}
.sidebar-nav {
    min-height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: $theme-color;
    border-right: 3px solid black;
}
.sidebar-nav-link {
    display: block;
    width: 100%;
    color: white;
    background-color: $theme-color;
    &:hover {
        background-color: lighten($theme-color, 20%);
    }
    & .current {
        background-color: lighten($theme-color, 20%);
    }
    border-top: 3px solid black;
}
.main-container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 0;
}