.sidebar-nav {
    min-height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.sidebar-nav-link-wrapper {
    width: 100%;
    color: white;
    background-color: darkblue;
    &:hover {
        background-color: blue;
    }
    & .current {
        background-color: green;
    }
}
