<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }} &dash; {{ site.title }}</title>
</head>
<body>
    <!-- {% include sidebar-og.html %} -->
    <!-- {% include header.html %} -->
    <div class="main-container">
        {% include sidebar.html %}
        <div class="content-container">{{ content }}</div>
    </div>
</body>
</html>
