<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="assets/js/prefixfree.js"></script>
    <title>{{ page.title }} &dash; {{ site.title }}</title>
</head>
<body>
    {% include sidebar.html %}
    <div class="content-container-container">
        <div class="content-container">
            {% if page.title != "Home"%}<h1 class="page-title">{{ page.title }}</h1>{% endif %}
            {{ content }}
        </div>
        <!-- <p class="mobile-copyright">{% include copyright.md %}</p> -->
    </div>
</body>
</html>
